<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galou.mynews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MAIN ACTIVITY -->
        <activity android:name=".consultArticles.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- SEARCH ACTIVITY -->
        <activity
            android:name=".searchNotification.SearchActivity"
            android:label="@string/search_articles_name_activity"
            android:parentActivityName=".consultArticles.MainActivity" /> <!-- NOTIFICATIONS ACTIVITY -->
        <activity
            android:name=".searchNotification.NotificationsActivity"
            android:label="@string/notifications_articles_name_activity"
            android:parentActivityName=".consultArticles.MainActivity" /> <!-- RESULTS ACTIVITY -->
        <activity
            android:name=".resultsSearch.ResultsSearchActivity"
            android:label="@string/result_activity_name"
            android:parentActivityName=".searchNotification.SearchActivity" />
        <activity android:name=".webViewArticle.WebViewArticleActivity"
            android:label="@string/webview_activity_name"/>
        
        <receiver android:name=".utils.NotificationReceiver"
            android:exported="true"/>
    </application>


</manifest>