<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galou.mynews">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- MAIN ACTIVITY -->
        <activity android:name=".controllers.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SEARCH ACTIVITY -->
        <activity
            android:name=".controllers.activities.SearchActivity"
            android:label="@string/search_articles_name_activity"
            android:parentActivityName=".controllers.activities.MainActivity" />

        <!-- NOTIFICATIONS ACTIVITY -->
        <activity
            android:name=".controllers.activities.NotificationsActivity"
            android:label="@string/notifications_articles_name_activity"
            android:parentActivityName=".controllers.activities.MainActivity" />

    </application>

</manifest>